body{	
	color: #c5ced9;
	text-align: center;
	background-color: #383838;
	font-family: verdana;
}

.header{
	background-color: #4a4a4a;	
	font-family: arial;
	color: #c5ced9;	
}

.main{
	background-color: #6b6b6b;
}

.link{
	padding-right: 40px;
	padding-left: 10px;
	color: #c5ced9;	
}

h1 span{
	font-style: oblique;
}

h3{
	text-align: center;	
}

p{
	text-indent: 10px;
}
